body{
  background-color:cyan;
}
input{

}
.cards-container{
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
}
.inputs-container{
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
}
#table {
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}


#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
