body{
  background-color:#E7EB90;
  color:#2274A5;
  font-size: 22px;
  font-weight: bold;
}
input{

}
.cards-container{
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
}
.inputs-container{
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
}
#table {
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}


#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#profile{
  height: 300px;
  width: 300px;
  border: 0;
}
#shadi{
  width: 150px;
  height: 150px;
}


.myButton {

	box-shadow: 0px 1px 0px 0px #fff6af;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;

	border-radius:42px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 28px;
	text-decoration:none;
	text-shadow:0px 1px 35px #ffee66;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}
